<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Password Management System</a>
            <div>
                <a href="#">Loggedin As ---> <% if(loginuser) { %>
                        <%= loginuser %>
                            <% } %> </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Password System</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Password Category
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/addnewcategory">Add New Category</a></li>
                                <li><a class="dropdown-item" href="/password_category">View All Category</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Password Details
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="addnewpassword">Add New Password</a></li>
                                <li><a class="dropdown-item" href="view-all-password">View All Password</a></li>
                            </ul>
                            <ul><a href="/logout">Logout</a></ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <br><br><br>
    <center>

        <h2>~ Add New Password Caregory ~</h2><br><br>
        <% if(errors !='' ){ %>
            <P style="color: red;">  <%= errors.passwordcategory.msg %> </P>
                  <% } %>  

                  <% if(success !='' ){ %>
                    <P style="color: green;">  <%= success %> </P>
                          <% } %>
                  <br>  
        <form action="/addnewcategory" method="post" >
            Category Name : <input type="text" name="passwordcategory" placeholder="Enter Password Category Name" /><br><br>
            <button name="submit" value="Add Category">Add Category</button><br><br>
            <p><a href="/password_category">View All Category Lists</a> </p>

        </form>
    </center>

</body>

</html>